@{
    ViewBag.Title = "Home Page";
}
<h2>EF Code First/Altairis Example App</h2>
<p>For more info see the @Html.ActionLink("About", "About") page.</p>
<ul>
    <li>@Html.ActionLink("View Users", "Index", "Users")</li>
    <li>@Html.ActionLink("View Roles", "Index", "Roles")</li>
</ul>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
