@model CodeFirstAltairis.Models.Role

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Role</legend>
    <div class="display-label">Role Name</div>
    <div class="display-field">@Model.RoleName</div>

    <div class="display-label"># Users</div>
    <div class="display-field">@(Model.Users == null ? "None" : Model.Users.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


