<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow"
    type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler,TechTalk.SpecFlow"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationDB" connectionString="Data Source=..\..\..\CodeFirstAltairis\App_Data\ApplicationDB.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>
</configuration>