<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Altairis.Web.Security" version="2.4.0" />
  <package id="EntityFramework" version="4.1.10311.0" />
  <package id="EntityFramework" version="4.2.0.0" />
  <package id="EntityFramework.SqlServerCompact" version="4.1.8482.2" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="MvcScaffolding" version="1.0.6" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="Ninject.MVC3" version="2.2.2.0" />
  <package id="SpecFlow" version="1.6.1" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="T4Scaffolding" version="1.0.5" />
  <package id="WatiN" version="2.1.0" />
  <package id="WebActivator" version="1.5" />
</packages>